@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@700&family=Roboto+Serif&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}



/* logo */

#image_logo{
    display: inline-block;
    padding: 12px 25px;
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: #ea1538;
    font-family: 'Montserrat', sans-serif;
}

/* navbar
 */
.flex_navbar ul {
    list-style-type: none;
    margin: 0px;
}

.flex_navbar ul li {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

.flex_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.flex_navbar ul li a {
    padding: 12px 25px;
    color: white;
    text-decoration: none;
}

.flex_navbar ul li a:hover {
    color: #ea1538;
    transition: .3s;
}

/* carsouel */
.carousel-inner img {
    width: 100%;
    height: 650px;
    
}

/* mediaquery */


@media (max-width:950px) {


}


/* programming book section  */

#book_heading {
    background-color: #112B3C;
    color: white;
    margin: 0;
    padding: 80px 0 0px 50px;
    font-family: 'Times New Roman', Times, serif;
}

.row_section {
    /* border: 5px solid black; */
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #112B3C;
    z-index: -1;
}

.column1 {
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(241, 235, 235, 0.364), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    /* display: inline-block; */
    border-radius: 10px;
}


.column1 a img {
    width: 70%;
    height: 250px;
    padding: 20px 30px;
    margin: 10px auto;
    display: block;
}

.desc h2 {
    width: 60%;
    background-color: green;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
    /* padding: 10px; */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.desc h2 a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;

}

.desc h2:hover {
    color: #fff;
    background-color: #ea1538;
}

#color1 {
    background-color: orange;
}

#color1 img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* about_us section */

.about_us {
    margin: 30px;
    padding: 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us::after {
    content: "";
    clear: both;
    display: table;
  }

.my_image {
    padding-left: 30px;
}

.my_image img {
    width: 250px;
    padding: 0px 0px;
}

.image_desc {
    text-align: left;
    padding: 0px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about_us2 {
    margin: 30px;
    padding: 100px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us2::after {
    content: "";
    clear: both;
    display: table;
  }

.image_desc2 {
    text-align: left;
    padding: 0px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my_image2 {
    padding-right: 30px;
}

.my_image2 img {
    width: 250px;
    padding: 0px 0px;
}